{% extends "templates/layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">Sign in to your Kainos Jobs account</h1>

      <p class="govuk-body">Sign in to your Kainos Jobs account to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view job roles and relevant information attached</li>
        <li>apply for job roles</li>
        <li>update job roles</li>
      </ul>

      <p class="govuk-body">Use the username and password you set up when you first used Kainos Jobs. You can <a class="govuk-link" href="/register">create an account</a> if you haven't already.</p>

      {{ govukButton({
        text: "Sign in",
        href: "/login",
        isStartButton: true
      }) }}

    </div>

  </div>

{% endblock %}