{% extends "templates/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set name = jobRole.roleName %}

{% block beforeContent %}
    {{ super() }}

    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            },
            {
                text: "Job Roles",
                href: "/job-roles"
            }
        ]
        }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Deleting: {{ name }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukWarningText({
                text: "This action is permanent and cannot be undone.",
                iconFallbackText: "Warning"
                }) }}

            {{ govukRadios({
                  name: "deleteButton",
                  fieldset: {
                    legend: {
                      text: ["Are you sure you wish to delete ", name, "?"] | join,
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },

                  items: [
                    {
                      value: "true",
                      text: "Yes"
                    },
                    {
                      value: "false",
                      text: "No"
                    }
                  ]
                }) }}

            <form method="post">
                {{ govukButton({
               text: "Delete",
               classes: "govuk-button--warning"
            }) }}
            </form>

        </div>
    </div>
{% endblock %}
