{% extends "templates/layout.njk" %}

{% block beforeContent %}
    {{ super() }}

    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            },
            {
                text: "Job Roles",
                href: "/job-roles"
            },
            {
                text: "Job Role Information"            
            }
        ]
        }) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-static-padding-bottom-4">{{  jobRoleDetails.jobRoleDetailedParameters.roleName }} - {{  jobRoleDetails.capabilityName }}</h1>

            <h2 class="govuk-heading-m govuk-!-static-padding-bottom-3">Job Details</h2>
            <p class="govuk-body">Location: {{  jobRoleDetails.jobRoleDetailedParameters.location }}</p>
            <p class="govuk-body">Closing Date: {{  jobRoleDetails.jobRoleDetailedParameters.closingDate }}</p>
            <p class="govuk-body">Number of Open Positions: 
                {{  jobRoleDetails.jobRoleDetailedParameters.numberOfOpenPositions - hiredApplicants.length}}</p>
            <p class="govuk-body">Band: {{  jobRoleDetails.bandName }}</p>
            <p class="govuk-body">SharePoint URL: <a href="{{  jobRoleDetails.jobRoleDetailedParameters.sharepointUrl }}" class="govuk-link">{{  jobRoleDetails.jobRoleDetailedParameters.sharepointUrl }}</a>
            </p>

            <h2 class="govuk-heading-m govuk-!-static-padding-bottom-3 govuk-!-static-padding-top-3">Full Job Description</h2>
            <p class="govuk-body">{{ jobRoleDetails.jobRoleDetailedParameters.description }}</p>
            <p class="govuk-body govuk-!-static-padding-bottom-3">{{ jobRoleDetails.jobRoleDetailedParameters.responsibilities }}</p>
        
        {% if jobRoleDetails.jobRoleDetailedParameters.numberOfOpenPositions > 0 %}
            {{ govukButton({
        text: "Apply Now",
        href: "/job-form/" + jobRoleDetails.jobRoleId
        }) }}
        {% endif %}

        </div>

        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Related content</h2>

            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="/job-roles/create">Create a job role</a>
                </li>
            </ul>

        </div>
    </div>
    
    {% if decodedToken.Role == 1%}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>Applicants</h1>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {# todo: loop through the list of applicant CVs from S3 bucket and display (email and #}
                    {# todo: put a button (link) beside each row, BOTH 'Hire' and 'Reject' #}
                    {% for applicant in applicants %}
                        {% if applicant.jobRoleName == jobRoleDetails.jobRoleId %}
                            {% set applicantId = applicant.applicantId %}
                            {% set email = applicant.email %}
                            {% set jobRoleName = applicant.jobRoleName %}
                            {% set status = applicant.status %}

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <a href="/cv/{{ applicantId }}">{{ email }}</td>
                                    <td class="govuk-table__cell">{{ status }}</td>
                                    <td class="govuk-table__cell">
                                    {% if status == "In Progress" %}
                                    <div class="govuk-button-group govuk-button-group">
                                        <form action="/update-application-status/{{ applicantId }}" class="form" method="post">
                                            <input type="hidden" name="status" value="Hired">
                                            <input type="hidden" name="jobRoleId" value="{{ jobRoleDetails.jobRoleId }}">
                                            {{ govukButton({
                                            text: "Hire"
                                            }) }}
                                        </form>
                                        <form action="/update-application-status/{{ applicantId }}" class="form" method="post">
                                            <input type="hidden" name="status" value="Rejected">
                                            <input type="hidden" name="jobRoleId" value="{{ jobRoleDetails.jobRoleId }}">
                                            {{ govukButton({
                                            text: "Reject",
                                            classes: "govuk-button--secondary"
                                            }) }}
                                        </form>
                                    </div>
                                    {% endif %}
                                    </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
    {% endif %}
{% endblock %}