{% extends "templates/layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Upload your CV</h1>
        <input type="file">Upload here</input>
        
        {% if number_of_positions > 0 and status == 'open'%}
            {{ govukButton({
            text: "Upload",
            href: ,
            isStartButton: true
            }) }}
        {% endif %}
    </div>
</div>

{% endblock %}